{% extends "base.html" %}

{% block content %}
    {% if active_teams %}
        <!--Create table for displaying teams -->
        <table class="table table-condensed">
            <!-- Table headers TODO: change to be generated in python-->
            <tr>
                <th>Team Name</th>
                <th>Region</th>
                <th/>
            </tr>
            {% for team in active_teams %}
                <tr>
                    <td>{{team.team_name}}</td>
                    <td>{{team.region}}</td>
                    <td><a class="btn btn-primary" href="#"
                     role="button">View</a>
                     </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no teams currently available!</p>
    {% endif %}
{% endblock %}